<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmc.mapper.LogRecordMapper">

    <insert id="insertLogRecord" parameterType="logRecord">
        INSERT INTO sys_log(type,content,operation,create_time,create_by)
        VALUES (#{type},#{content},#{operation},#{create_time},#{create_by})
    </insert>

    <select id="findAllLogRecords" resultType="logRecord">
        SELECT type,content,operation,create_time,create_by
        FROM sys_log
    </select>
</mapper>