<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmc.mapper.OrganizationMapper">

    <!-- 新增Organization -->
    <insert id="insertOrganization" parameterType="Organization">
        INSERT INTO sys_organization(name,available,create_time,update_time,create_by,update_by)
        VALUES (#{name},#{available},#{create_time},#{update_time},
                #{create_by},#{update_by})
    </insert>

    <!-- deleteOrganizationById -->
    <delete id="deleteOrganizationById" parameterType="long">
        DELETE
        FROM sys_organization
        WHERE id = #{id}
    </delete>

    <!-- findAllOrganizations -->
    <select id="findAllOrganizations" resultType="Organization">
        SELECT o.*
        FROM sys_organization o
    </select>

    <update id="updateOrganization" parameterType="Organization">
        UPDATE
        sys_organization
        SET name = #{name},available=#{available},update_by = #{update_by},update_time=#{update_time}
        WHERE id = #{id}
    </update>
</mapper>