<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmc.mapper.RoleMapper">
    <resultMap id="RoleWithBelongedUsers" type="Role">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="describtion" column="describtion" />
        <result property="available" column="available" />
        <result property="create_time" column="create_time" />
        <result property="update_time" column="update_time" />
        <result property="create_by" column="create_by" />
        <result property="update_by" column="update_by" />
        <!--<collection property="users" select=""/>-->
    </resultMap>
    <resultMap id="UserResult" type="User">
        <id property="id" column="u_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="salt" column="salt" />
        <result property="lock" column="lock" />
        <result property="create_time" column="u_create_time" />
        <result property="update_time" column="u_update_time" />
        <result property="create_by" column="u_create_by" />
        <result property="update_by" column="u_update_by" />
    </resultMap>
    
    
    <!-- 新增role -->
    <insert id="insertRole" parameterType="Role">
        INSERT INTO sys_role(name,describtion,available,create_time,update_time,create_by,update_by)
        VALUES (#{name},#{describtion},#{available},#{create_time},#{update_time},#{create_by},#{update_by})
    </insert>
    
    <!-- 删除 -->
    <delete id="deleteRoleById" parameterType="long">
        DELETE 
        FROM sys_role
        WHERE id = #{id}
    </delete>
    
    <!-- 禁用角色 -->
    <update id="forbidOrEnableRoleById">
        UPDATE sys_role
        SET available = #{code}
        WHERE id = #{id}
    </update>
    
    <!-- 获取所有的Role -->
    <select id="findAllRoles" resultType="Role">
        SELECT r.*
        FROM sys_role r
    </select>

    <!-- 更新角色 -->
    <update id="updateRole" parameterType="Role">
        UPDATE sys_role
        SET name = #{name},describtion = #{describtion},available = #{available}
                  ,update_by = #{update_by},update_time = #{update_time}
        WHERE id = #{id}
    </update>
</mapper>